<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					註冊網站(預計)
				</h2>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>

                <main class="form-signin">
                    <form>
                      <h1 class="h3 mb-3 fw-normal">你好勇者要註冊嗎?</h1>
                  
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">請輸入信箱</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">請輸入密碼</label>
                       <i id="checkEye" class="fas fa-eye"></i>
                       
                      </div>
                  
                      <div class="checkbox mb-3">
                        <label>
                          <input type="checkbox" value="remember-me">記住我
                        </label>
                      </div>
                      <button class="w-100 btn btn-lg btn-primary" type="button">Sign in</button>
                    </form>
                  </main>
			</div>
		</div>
	</div>
</div>

  <script src="/static/js/logineye.js"></script>